# About Series and DataFrames

In [7]:
import pandas as pd
import numpy as np

### Series object

- an ordered, one-dimensional array of data with an index. 
- All the data in a Series is of the same data type. 
- Series arithmetic is vectorised after first aligning the Series index for each of the operands.

In [10]:
s = pd.Series(10)
s

0    10
dtype: int64

In [12]:
S = pd.Series(range(10))
S

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [14]:
s1 = pd.Series(range(4))
s2 = pd.Series(range(2,5))
s3 = s1 + s2
print("s1 :\n",s1,"s2 :\n",s2,"s1+s2 :\n", s3)

s1 :
 0    0
1    1
2    2
3    3
dtype: int64 s2 :
 0    2
1    3
2    4
dtype: int64 s1+s2 :
 0    2.0
1    4.0
2    6.0
3    NaN
dtype: float64

In [9]:
type(s3)

pandas.core.series.Series

### DataFrame object

- A DataFrame object is a 2D table of data with column and row indices.
- Columns are mades up of Series objects
- Structurally, a DataFrame can be thought of as a collection of Series objects with the same index.

<img src ="f1.png">

A DataFrame has two indexes:

- column index (__df.columns__) that might be:
    - a list of strings(variable names) or integers
- row index (__df.index__) that might be:
    - Integers : for row numbers
    - Strings  : for case names
    - DatetimeIndex or PeriodIndex - for time series

### Get Data into a DataFrame

In [16]:
# Instantiate an empty df
df = pd.DataFrame()

## Loading from csv

df = pd.read_csv("file.csv")

df = pd.read_csv("file.csv", header= 0, index_col= 0, quotechar='"', sep=':', na_values=['na','-','.',''])

##### header
Row number(s) to use as the column names, and the start of the data. 
Default behavior is to infer the column names: if no names are passed the behavior is identical to header=0 and column names are inferred from the first line of the file, if column names are passed explicitly then the behavior is identical to header=None.
Explicitly pass header=0 to be able to replace existing names. 
The header can be a list of integers that specify row locations for a multi-index on the columns e.g. [0,1,3]. Intervening rows that are not specified will be skipped (e.g. 2 in this example is skipped). Note that this parameter ignores commented lines and empty lines if skip_blank_lines=True, so header=0 denotes the first line of data rather than the first line of the file

##### names -> arraylike

List of column names to use. If file contains no header row, then you should explicitly pass header=None. Duplicates in this list will cause a UserWarning to be issued

##### index_col : int or sequence or False, default None

Column to use as the row labels of the DataFrame. If a sequence is given, a MultiIndex is used. If you have a malformed file with delimiters at the end of each line, you might consider index_col=False to force pandas to _not_ use the first column as the index (row names)

##### na_values : scalar, str, list-like, or dict, default None

Additional strings to recognize as NA/NaN. If dict passed, specific per-column NA values. By default the following values are interpreted as NaN: ‘’, ‘#N/A’, ‘#N/A N/A’, ‘#NA’, ‘-1.#IND’, ‘-1.#QNAN’, ‘-NaN’, ‘-nan’, ‘1.#IND’, ‘1.#QNAN’, ‘N/A’, ‘NA’, ‘NULL’, ‘NaN’, ‘n/a’, ‘nan’, ‘null’.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

### Loading from Excel

workbook = pd.ExcelFile("file.xlsx")
d = {} # start with empty dictionary
for sheet_name in workbook.sheet_names:
    df = workbook.parse(sheet_name)
    d[sheet_name] = df

### Load a DataFrame from a MYSQL database

import pymysql
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://'+'USER:PASSWORD@HOST/DATABASE')
df = pd.read_sql_table('table', engine)

### Load a DataFrame from Series

In [19]:
s4 = s1 * s2
s2

0    1
1    2
2    3
3    4
dtype: int64

In [20]:
s2.index = s2.index+ 2 # misalign index
s2

2    1
3    2
4    3
5    4
dtype: int64

In [22]:
s1

0    0
1    1
2    2
3    3
dtype: int64

In [21]:
df = pd.concat([s1,s2],axis=1) # has in integer column labels
df

     0    1
0  0.0  NaN
1  1.0  NaN
2  2.0  1.0
3  3.0  2.0
4  NaN  3.0
5  NaN  4.0

In [15]:
s3 = pd.Series({'Tom':1, 'Dick':2, 'Harry': 9})
s4 = pd.Series ({'Tom':5, 'Dick':6, 'Larry': 10})
df = pd.concat({'A':s3,'B':s4},axis =1) #DOES NOT GUARANTEE COL ORDER if indices are not aligned
df

/Users/codess/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  app.launch_new_instance()

         A     B
Dick   2.0   6.0
Harry  9.0   NaN
Larry  NaN  10.0
Tom    1.0   5.0

### Get a  DataFrame from a Python dictionary

In [39]:
# Data is in columns

df = pd.DataFrame({
    'col0':[1.0,2.0,3.0],
    'col1':[2.0,3.0,8.0],
    'col2':[4.0,9.0,10.0]})

In [40]:
df

   col0  col1  col2
0   1.0   2.0   4.0
1   2.0   3.0   9.0
2   3.0   8.0  10.0

In [42]:
# Data is in rows

df =pd.DataFrame.from_dict({
    'row0': {'col0':0, 'col1': 1},
    'row1': {'col0':16, 'col1': 45}
}, orient ='index')

In [43]:
df

      col0  col1
row0     0     1
row1    16    45

In [46]:
df = pd.DataFrame.from_dict({
    'row0':[1, 1+1j, 2+0j],
    'row1':[ 3, 3+9j,9]
},orient='index')

In [47]:
df

      0       1       2
row0  1  (1+1j)  (2+0j)
row1  3  (3+9j)  (9+0j)

### Create fake data to test

In [54]:
df = pd.DataFrame(np.random.rand(20,10))

In [55]:
df

        0      1      2      3      4      5      6      7      8      9
0   0.640  0.170  0.976  0.552  0.538  0.860  0.875  0.865  0.844  0.842
1   0.067  0.733  0.798  0.987  0.486  0.823  0.636  0.840  0.688  0.758
2   0.966  0.421  0.964  0.027  0.021  0.846  0.330  0.891  0.250  0.393
3   0.327  0.279  0.567  0.377  0.686  0.183  0.989  0.630  0.823  0.936
4   0.467  0.949  0.312  0.718  0.417  0.205  0.765  0.702  0.420  0.761
5   0.895  0.050  0.234  0.809  0.955  0.258  0.846  0.166  0.604  0.949
6   0.524  0.652  0.075  0.412  0.576  0.828  0.013  0.682  0.580  0.925
7   0.496  0.806  0.234  0.499  0.665  0.745  0.447  0.882  0.059  0.320
8   0.361  0.559  0.940  0.028  0.941  0.620  0.811  0.570  0.750  0.531
9   0.996  0.190  0.202  0.315  0.941  0.370  0.643  0.985  0.052  0.613
10  0.295  0.021  0.150  0.540  0.806  0.800  0.375  0.506  0.698  0.024
11  0.818  0.019  0.700  0.866  0.279  0.509  0.806  0.950  0.380  0.904
12  0.634  0.273  0.864  0.955  0.208  0.578  0.580  0.303  0.980  0.627
13  0.207  0.042  0.298  0.940  0.435  0.431  0.965  0.854  0.862  0.949
14  0.441  0.226  0.478  0.925  0.638  0.223  0.762  0.082  0.016  0.080
15  0.190  0.888  0.671  0.197  0.223  0.314  0.294  0.062  0.771  0.518
16  0.198  0.096  0.870  0.667  0.676  0.771  0.981  0.900  0.071  0.876
17  0.268  0.438  0.247  0.062  0.857  0.188  0.227  0.200  0.692  0.491
18  0.537  0.951  0.958  0.750  0.317  0.040  0.517  0.297  0.443  0.664
19  0.103  0.103  0.221  0.395  0.715  0.681  0.525  0.243  0.871  0.826

In [56]:
len(df)

20

In [53]:
### fake data with time-stamp row index
df = pd.DataFrame(np.random.rand(20,10))
df.index = pd.date_range('5/1/2018', periods=len(df), freq='M')
df

,0,1,2,3,4,5,6,7,8,9
2018-05-31,0.453,0.265,0.158,0.755,0.433,0.770,0.964,0.702,0.536,0.631
2018-06-30,0.837,0.180,0.692,0.390,0.503,0.454,0.029,0.504,0.845,0.833
2018-07-31,0.700,0.915,0.665,0.673,0.550,0.190,0.069,0.455,0.143,0.718
2018-08-31,0.050,0.022,0.026,0.278,0.837,0.018,0.418,0.468,0.959,0.148
2018-09-30,0.327,0.606,0.486,0.273,0.985,0.903,0.600,0.754,0.826,0.377
2018-10-31,0.410,0.649,0.883,0.622,0.287,0.802,0.235,0.191,0.332,0.713
2018-11-30,0.864,0.175,0.172,0.279,0.993,0.756,0.214,0.187,0.254,0.779
2018-12-31,0.880,0.657,0.568,0.691,0.644,0.263,0.539,0.301,0.790,0.441
2019-01-31,0.642,0.415,0.724,0.370,0.506,0.566,0.223,0.998,0.285,0.407
2019-02-28,0.480,0.720,0.223,0.863,0.116,0.081,0.187,0.113,0.580,0.049
2019-03-31,0.917,0.387,0.081,0.890,0.768,0.420,0.647,0.024,0.762,0.939
2019-04-30,0.438,0.099,0.982,0.576,0.208,0.887,0.345,0.746,0.409,0.444
2019-05-31,0.801,0.281,0.372,0.052,0.908,0.817,0.738,0.862,0.309,0.860
2019-06-30,0.688,0.116,0.662,0.981,0.732,0.407,0.989,0.186,0.028,0.060
2019-07-31,0.013,0.884,0.296,0.085,0.754,0.009,0.393,0.174,0.580,0.957
2019-08-31,0.758,0.589,0.334,0.079,0.555,0.965,0.126,0.215,0.445,0.896
2019-09-30,0.709,0.386,0.295,0.156,0.667,0.698,0.010,0.321,0.868,0.002
2019-10-31,0.500,0.890,0.975,0.920,0.319,0.168,0.710,0.599,0.960,0.369
2019-11-30,0.004,0.033,0.519,0.648,0.174,0.909,0.705,0.782,0.912,0.453
2019-12-31,0.945,0.349,0.517,0.890,0.574,0.640,0.445,0.190,0.367,0.217

#### DF with alphabetic row and column indexes and a groupable variable

In [58]:
import string
import random
rows = 52
cols = 5
# min/max row count
assert(1 <= rows <= 52)
df = pd.DataFrame(np.random.randn(rows,cols),columns=['c'+str(i) for i in range(cols)],index=list((string.ascii_uppercase + string.ascii_lowercase)[0:rows]))
df['groupable']=[random.choice('abcde') for _ in range(rows)]
df

       c0     c1     c2     c3     c4 groupable
A  -1.255 -0.446 -2.399  0.193 -0.340         d
B  -0.086 -0.514 -0.107 -1.332  1.268         c
C   0.048  0.787  0.723 -0.287 -0.083         b
D   0.386 -0.052 -0.262  1.205 -1.304         b
E   0.442  0.164 -0.393  1.492  1.390         c
F   0.796  1.614 -0.496  0.945  0.116         a
G   0.452  1.684  1.654  2.269 -0.411         b
H  -1.611 -0.837 -0.213 -0.620 -0.416         c
I  -0.571  0.540  0.552  1.711 -1.820         b
J  -0.866 -0.478 -0.007 -0.405 -1.016         d
K   0.787 -1.486  0.598  0.726  0.923         c
L  -1.108 -0.855 -0.042  0.108 -1.217         d
..    ...    ...    ...    ...    ...       ...
o  -1.216  0.186  0.298  0.716 -0.513         a
p   1.386  0.597  0.935  1.195 -0.580         c
q   0.181 -0.904  0.596  0.835  0.271         e
r   0.923 -0.853 -0.022  0.013  0.949         c
s  -2.252 -0.531  2.280  0.907 -0.237         d
t   1.467 -0.590 -0.054  0.558 -1.482         d
u  -0.524 -0.373  0.848  0.524  0.020         c
v  -0.694 -0.329 -0.080  1.422  0.040         b
w   0.568 -1.141 -1.664  0.833 -3.149         b
x  -0.819 -1.226  0.996  0.804 -1.784         b
y   0.528 -1.200  0.564 -0.567 -1.325         b
z  -1.020 -2.262  1.081 -0.608  0.100         b

[52 rows x 6 columns]

### Saving a DataFrame

#### Saving DataFrame to csv

In [61]:
df.to_csv("x1.csv",encoding='utf-8')

#### Saving DataFrame to excel workbook

In [62]:
from pandas import ExcelWriter

writer = ExcelWriter('f1.xlsx')
df.to_excel(writer,'Sheet1')
writer.save()

#### Saving DataFrame to MySQL

import pymysql
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://'+'USER:PASSWORD@HOST/DATABASE')
df.to_sql('TABLE', engine, if_exists='replace')

#### Saving tp Python Objects

In [63]:
d = df.to_dict() # to dictionary
str1 = df.to_string() # to string
m = df.as_matrix() # to numpy matrix

/Users/codess/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  app.launch_new_instance()

## Working with the Whole Dataframe

### Peek at the DataFrame contents

#### Get index and datatypes

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, A to z
Data columns (total 6 columns):
c0           52 non-null float64
c1           52 non-null float64
c2           52 non-null float64
c3           52 non-null float64
c4           52 non-null float64
groupable    52 non-null object
dtypes: float64(5), object(1)
memory usage: 2.8+ KB

#### Get first i rows

In [71]:
df.head(2)

      c0     c1     c2     c3     c4 groupable
A -1.255 -0.446 -2.399  0.193 -0.340         d
B -0.086 -0.514 -0.107 -1.332  1.268         c

#### Get last i rows

In [73]:
df.tail(2)

      c0     c1     c2     c3     c4 groupable
y  0.528 -1.200  0.564 -0.567 -1.325         b
z -1.020 -2.262  1.081 -0.608  0.100         b

#### Get summary stats cols

In [74]:
df.describe()

           c0      c1      c2      c3      c4
count  52.000  52.000  52.000  52.000  52.000
mean    0.015  -0.138   0.039   0.109  -0.221
std     1.133   0.989   0.969   1.094   1.047
min    -3.003  -2.262  -2.399  -3.227  -3.149
25%    -0.802  -0.857  -0.501  -0.577  -0.855
50%     0.114  -0.252   0.089   0.159  -0.186
75%     0.828   0.606   0.597   0.833   0.409
max     2.196   1.921   2.280   2.269   1.945

In [77]:
df.head(3)

      c0     c1     c2     c3     c4 groupable
A -1.255 -0.446 -2.399  0.193 -0.340         d
B -0.086 -0.514 -0.107 -1.332  1.268         c
C  0.048  0.787  0.723 -0.287 -0.083         b

In [75]:
top_lft_corner_df = df.iloc[:2,:2]

In [76]:
top_lft_corner_df

      c0     c1
A -1.255 -0.446
B -0.086 -0.514

### DataFrame non-indexing attributes

#### Transpose rows and columns

In [79]:
df = df.T

In [80]:
df

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z
c0,-1.26,-0.0861,0.0476,0.386,0.442,0.796,0.452,-1.61,-0.571,-0.866,0.787,-1.11,-0.211,-1.07,2.17,2.2,0.932,-1.52,-0.513,0.796,0.647,1.44,0.947,-0.796,-1.06,-0.758,-0.198,0.569,-0.228,-2.1,0.598,0.0146,0.518,-3,1.17,-0.504,1.38,1.45,0.951,1.01,-1.22,1.39,0.181,0.923,-2.25,1.47,-0.524,-0.694,0.568,-0.819,0.528,-1.02
c1,-0.446,-0.514,0.787,-0.0523,0.164,1.61,1.68,-0.837,0.54,-0.478,-1.49,-0.855,0.736,0.465,-1.46,0.603,-0.745,-1.27,1.89,1.1,0.225,-0.522,1.92,-1.68,-0.176,-0.0815,0.639,-0.0463,-1.41,0.133,-0.864,0.735,0.614,0.249,-0.712,1.73,0.734,-1.14,0.641,-0.999,0.186,0.597,-0.904,-0.853,-0.531,-0.59,-0.373,-0.329,-1.14,-1.23,-1.2,-2.26
c2,-2.4,-0.107,0.723,-0.262,-0.393,-0.496,1.65,-0.213,0.552,-0.00739,0.598,-0.0423,-0.119,0.205,-0.742,-0.548,0.0881,1.39,-1.76,-0.647,0.65,-0.578,1.06,-0.592,-0.518,0.474,0.253,-1.74,-0.771,-1.68,-0.394,2.1,0.0902,0.477,0.49,0.288,0.114,-1.98,0.269,0.775,0.298,0.935,0.596,-0.0221,2.28,-0.054,0.848,-0.0795,-1.66,0.996,0.564,1.08
c3,0.193,-1.33,-0.287,1.21,1.49,0.945,2.27,-0.62,1.71,-0.405,0.726,0.108,-0.0985,-0.232,-0.176,0.862,-0.317,0.116,-1.7,-1.64,-0.755,0.471,-2.47,1.52,-0.929,1.61,0.279,0.148,1.92,0.493,-0.713,0.17,0.445,-0.41,-1.08,-0.889,-0.212,-3.23,-0.907,0.766,0.716,1.2,0.835,0.0132,0.907,0.558,0.524,1.42,0.833,0.804,-0.567,-0.608
c4,-0.34,1.27,-0.0826,-1.3,1.39,0.116,-0.411,-0.416,-1.82,-1.02,0.923,-1.22,0.579,0.127,-0.221,-0.308,1.51,-1.43,-0.809,-0.258,0.802,0.365,1.12,1.13,0.134,0.226,-1.76,0.779,0.465,-0.507,0.391,-0.963,0.202,-1.28,0.823,-2.47,1.94,-0.532,-0.819,-0.15,-0.513,-0.58,0.271,0.949,-0.237,-1.48,0.0202,0.0396,-3.15,-1.78,-1.33,0.1
groupable,d,c,b,b,c,a,b,c,b,d,c,d,a,b,d,b,c,e,e,b,d,d,e,c,a,e,d,b,b,d,e,e,a,d,e,d,b,c,b,a,a,c,e,c,d,d,c,b,b,b,b,b

#### list row and column indexes

In [83]:
l =df.axes

In [84]:
l

[Index(['c0', 'c1', 'c2', 'c3', 'c4', 'groupable'], dtype='object'),
 Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N',
        'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b',
        'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p',
        'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'],
       dtype='object')]

In [85]:
(r_idx, c_idx) =df.axes

In [86]:
r_idx

Index(['c0', 'c1', 'c2', 'c3', 'c4', 'groupable'], dtype='object')

In [87]:
 c_idx

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N',
       'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b',
       'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p',
       'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'],
      dtype='object')

##### Series column data types

In [91]:
 
s = df.dtypes

In [92]:
s

A    object
B    object
C    object
D    object
E    object
F    object
G    object
H    object
I    object
J    object
K    object
L    object
      ...
o    object
p    object
q    object
r    object
s    object
t    object
u    object
v    object
w    object
x    object
y    object
z    object
Length: 52, dtype: object

#### Check if dataframe is empty

In [94]:
b = df.empty
b

False

#### check number of axes

In [95]:
df.ndim

2

#### check shape

In [96]:
df.shape

(6, 52)

#### check size (row * column)

In [99]:
df.size

312

#### get numpy array for the df

In [101]:
df.values

array([[-1.255330975976439, -0.08605004118654468, 0.04755105522697168,
        0.3864977735521899, 0.44200633167842557, 0.7964478160377733,
        0.45194045955447215, -1.611270451465964, -0.5706691241816961,
        -0.8661263652581783, 0.7869979994715699, -1.1075920170377904,
        -0.21138827986298683, -1.0699431091004332, 2.1702139393194546,
        2.1957861983231597, 0.9318305926714793, -1.5237908730118168,
        -0.5129513571906763, 0.7958316152591067, 0.646757733682412,
        1.441108089450332, 0.9467017999377692, -0.7956502900910675,
        -1.0623428674869009, -0.7580757799484878, -0.19754393641756163,
        0.5689697071184057, -0.22822608388418528, -2.104404824680125,
        0.5981111765390439, 0.014587318911385426, 0.517934003615038,
        -3.002764359809732, 1.1724838776977644, -0.5043029541075144,
        1.3811934137349695, 1.4468855316747409, 0.9509878877874001,
        1.0057876071683658, -1.215633925276018, 1.3864086862563734,
        0.18140686449149812, 0.9231654178065173, -2.252203255981069,
        1.4665117014869584, -0.5237732503143744, -0.6942316623317379,
        0.5682179309871842, -0.8191632822253675, 0.5275447444054837,
        -1.019664147424122],
       [-0.4456156500315449, -0.5138507883411413, 0.7868861284985046,
        -0.052348526508123674, 0.1639400395165636, 1.6144147935889974,
        1.6842313118903416, -0.8370613545397858, 0.5400611943226296,
        -0.4779596950991395, -1.4863620696220645, -0.8547026250494864,
        0.7357621884311083, 0.46539758821170274, -1.4623608846394287,
        0.6027162401777352, -0.7447839134142451, -1.2700403136703062,
        1.8943775831945766, 1.1005516838541027, 0.22519000718384097,
        -0.5219170309174511, 1.9213111845886142, -1.677692428052354,
        -0.17602648351924968, -0.0814922118210337, 0.6386047515426362,
        -0.046312498252129276, -1.4104906569250504, 0.13337627241946892,
        -0.8640301661765424, 0.7353772211690214, 0.6139441866005989,
        0.2493617636729945, -0.7120700780498026, 1.7336111602617228,
        0.7341516027581239, -1.1374986208500273, 0.6407455381576129,
        -0.9994561308706043, 0.18560781700175494, 0.5970822668129219,
        -0.9041039292503014, -0.8531308073733835, -0.5314129526731888,
        -0.5902851855243225, -0.3732570760915658, -0.32854497779731506,
        -1.1413649893029254, -1.225775637075621, -1.1998978693504974,
        -2.2618868244843986],
       [-2.3989507118511417, -0.10701946366241406, 0.7230764735295214,
        -0.26173905492138366, -0.3931847662440687, -0.4958074241701874,
        1.653967414144977, -0.21270672691738005, 0.5515055486765523,
        -0.007391350076097587, 0.5984878141981229, -0.04225780748538251,
        -0.11880687614520145, 0.2051997159831749, -0.7422834578559359,
        -0.548237439116053, 0.08814807291705333, 1.3882201683884396,
        -1.759993822081925, -0.6466252794122926, 0.6495626341811439,
        -0.5778643260030482, 1.0561578257663942, -0.5920430701378919,
        -0.5180218429018609, 0.47395546841803865, 0.25306289145750976,
        -1.7413134773159544, -0.7706499999134303, -1.6821239352711932,
        -0.39439878960603775, 2.0998142378181086, 0.09017994355918796,
        0.4765189969929007, 0.48978328675545835, 0.287564634070613,
        0.11431261123041639, -1.9784098641572587, 0.2692941367913535,
        0.7751514356396658, 0.29842275422498304, 0.934800719212022,
        0.5961320027303483, -0.02206526378332636, 2.2802348546550437,
        -0.0540304777102866, 0.8477611129983934, -0.0795434242316203,
        -1.6636104301636592, 0.9961645867294322, 0.564320998068948,
        1.0810130698199463],
       [0.19299909731782697, -1.3320350851080833, -0.2871228617188255,
        1.2052316953720341, 1.4921167839255853, 0.9446710984929556,
        2.2689194966795148, -0.6202096687074736, 1.7109243703286188,
        -0.40463282752267493, 0.7260114114414745, 0.10791444921240798,
        -0.09845047008778829, -0.2317718199720464, -0.1756596974605831,
        0.8617112928039212, -0.3167535657177482, 0.11626860525394754,
        -1.6955320550954398, -1.6419509194910895, -0.754651645457994,
        0.47112565748816837, -2.472983498620129, 1.5220073502043623,
        -0.9293733191725487, 1.6050697343720646, 0.2787847569768724,
        0.1476506248783194, 1.9205391205633764, 0.49326393178315686,
        -0.7129899331288746, 0.16955388858011855, 0.44530462848481733,
        -0.40972180269192915, -1.0824374227579583, -0.8891459934607829,
        -0.21212108516052963, -3.2273131492052087, -0.9071467878146366,
        0.7657641219761864, 0.715926756045486, 1.1952391723296938,
        0.8347134939942515, 0.01322488866627552, 0.907324850587909,
        0.5580732133698703, 0.5237742767610094, 1.422456631451493,
        0.8328671424677461, 0.803866540909923, -0.567338384919752,
        -0.6079177790841256],
       [-0.340139634375012, 1.268316104192834, -0.08255967450927128,
        -1.3043261702028768, 1.3899328498512182, 0.11623760709272697,
        -0.41057381276009325, -0.416497372524152, -1.8198010068301707,
        -1.0163332061849695, 0.922518896060792, -1.216979952481889,
        0.5794994888596047, 0.12702063861461754, -0.2205228587871146,
        -0.3083677819432961, 1.5116577446177113, -1.4331044417687617,
        -0.8089104027149647, -0.25795663191227025, 0.8020840466309723,
        0.36517817956029097, 1.1196255207993144, 1.1310956351323183,
        0.13372961753244614, 0.2257696730056489, -1.762084965188014,
        0.7794903935923024, 0.4645334063522886, -0.5067127494659593,
        0.3909930721971393, -0.9628367278148714, 0.2016055748388028,
        -1.2786994948320451, 0.8226440921977954, -2.4708818254331186,
        1.944758620396016, -0.5322035595691645, -0.8188664285877167,
        -0.15048356960896017, -0.5134535494606092, -0.5795488380942501,
        0.2706427048108885, 0.9487769414479349, -0.2372754935266433,
        -1.4821222716667548, 0.02024495998918996, 0.039622857912526295,
        -3.1491135465513254, -1.7839074624184044, -1.3251571429794284,
        0.10000279945041601],
       ['d', 'c', 'b', 'b', 'c', 'a', 'b', 'c', 'b', 'd', 'c', 'd', 'a',
        'b', 'd', 'b', 'c', 'e', 'e', 'b', 'd', 'd', 'e', 'c', 'a', 'e',
        'd', 'b', 'b', 'd', 'e', 'e', 'a', 'd', 'e', 'd', 'b', 'c', 'b',
        'a', 'a', 'c', 'e', 'c', 'd', 'd', 'c', 'b', 'b', 'b', 'b', 'b']],
      dtype=object)

### Dataframe utility methods

##### Copy a dataframe

In [102]:
df = df.copy()

#### Rank each column

In [106]:
df.rank()

<bound method NDFrame.rank of                A       B       C       D      E      F      G      H      I  \
c0         -1.26 -0.0861  0.0476   0.386  0.442  0.796  0.452  -1.61 -0.571
c1        -0.446  -0.514   0.787 -0.0523  0.164   1.61   1.68 -0.837   0.54
c2          -2.4  -0.107   0.723  -0.262 -0.393 -0.496   1.65 -0.213  0.552
c3         0.193   -1.33  -0.287    1.21   1.49  0.945   2.27  -0.62   1.71
c4         -0.34    1.27 -0.0826    -1.3   1.39  0.116 -0.411 -0.416  -1.82
groupable      d       c       b       b      c      a      b      c      b

                 J      K       L       M      N      O      P       Q      R  \
c0          -0.866  0.787   -1.11  -0.211  -1.07   2.17    2.2   0.932  -1.52
c1          -0.478  -1.49  -0.855   0.736  0.465  -1.46  0.603  -0.745  -1.27
c2        -0.00739  0.598 -0.0423  -0.119  0.205 -0.742 -0.548  0.0881   1.39
c3          -0.405  0.726   0.108 -0.0985 -0.232 -0.176  0.862  -0.317  0.116
c4           -1.02  0.923   -1.22   0.579  0.127 -0.221 -0.308    1.51  -1.43
groupable        d      c       d       a      b      d      b       c      e

               S      T      U      V      W      X      Y       Z      a  \
c0        -0.513  0.796  0.647   1.44  0.947 -0.796  -1.06  -0.758 -0.198
c1          1.89    1.1  0.225 -0.522   1.92  -1.68 -0.176 -0.0815  0.639
c2         -1.76 -0.647   0.65 -0.578   1.06 -0.592 -0.518   0.474  0.253
c3          -1.7  -1.64 -0.755  0.471  -2.47   1.52 -0.929    1.61  0.279
c4        -0.809 -0.258  0.802  0.365   1.12   1.13  0.134   0.226  -1.76
groupable      e      b      d      d      e      c      a       e      d

                b      c      d      e       f       g      h      i      j  \
c0          0.569 -0.228   -2.1  0.598  0.0146   0.518     -3   1.17 -0.504
c1        -0.0463  -1.41  0.133 -0.864   0.735   0.614  0.249 -0.712   1.73
c2          -1.74 -0.771  -1.68 -0.394     2.1  0.0902  0.477   0.49  0.288
c3          0.148   1.92  0.493 -0.713    0.17   0.445  -0.41  -1.08 -0.889
c4          0.779  0.465 -0.507  0.391  -0.963   0.202  -1.28  0.823  -2.47
groupable       b      b      d      e       e       a      d      e      d

               k      l      m      n      o      p      q       r      s  \
c0          1.38   1.45  0.951   1.01  -1.22   1.39  0.181   0.923  -2.25
c1         0.734  -1.14  0.641 -0.999  0.186  0.597 -0.904  -0.853 -0.531
c2         0.114  -1.98  0.269  0.775  0.298  0.935  0.596 -0.0221   2.28
c3        -0.212  -3.23 -0.907  0.766  0.716    1.2  0.835  0.0132  0.907
c4          1.94 -0.532 -0.819  -0.15 -0.513  -0.58  0.271   0.949 -0.237
groupable      b      c      b      a      a      c      e       c      d

               t       u       v      w      x      y      z
c0          1.47  -0.524  -0.694  0.568 -0.819  0.528  -1.02
c1         -0.59  -0.373  -0.329  -1.14  -1.23   -1.2  -2.26
c2        -0.054   0.848 -0.0795  -1.66  0.996  0.564   1.08
c3         0.558   0.524    1.42  0.833  0.804 -0.567 -0.608
c4         -1.48  0.0202  0.0396  -3.15  -1.78  -1.33    0.1
groupable      d       c       b      b      b      b      b  >

In [119]:
df = pd.DataFrame(np.random.randn(20,10))

In [120]:
df

        0      1      2      3      4      5      6      7      8      9
0  -1.577 -1.641 -0.154  0.223  0.775 -0.704 -0.223 -1.304  0.873  1.323
1   0.530 -1.371 -0.495  0.762  0.052  0.675 -0.020 -0.998 -0.796  0.403
2   2.062  0.824 -0.448  0.520 -1.597  0.536  1.150  0.268  2.238  0.650
3  -0.956  0.160  1.466  2.001  1.498  0.051 -0.881  0.504 -1.601 -0.270
4   0.406 -0.911 -0.890 -1.530  1.208  0.014 -0.715  2.445  0.416  0.060
5   0.836  0.097  0.014  0.469  0.817  0.793 -1.484 -0.153  0.856  0.479
6   0.670  0.414  0.750  0.014 -0.626  1.552  0.235  0.876 -0.366 -0.527
7   0.223 -0.174 -0.476  0.816  1.785  0.952 -1.446 -0.872  0.776 -0.212
8  -0.718  1.123  0.354 -0.591 -0.026  1.179 -0.357  1.609  1.574  0.845
9   0.101  1.340  0.030 -1.431 -0.408  0.114 -0.757 -0.531 -0.775  1.437
10 -0.604  1.487  0.196 -2.254  0.478  0.751 -2.548 -0.475 -0.168 -0.639
11  0.036  0.835  0.004 -1.830  0.462 -1.156 -1.142 -1.097 -0.219  0.604
12  1.294 -1.249 -0.221 -0.456 -1.352 -1.508 -0.244  2.093 -3.225 -0.576
13  0.813  1.072 -0.682 -2.953 -0.515 -0.351  0.273 -1.219 -0.071 -0.116
14 -0.661 -1.564  2.144 -0.757 -0.342 -2.234  0.040  0.197  0.440  0.476
15  0.143  0.863 -0.177  2.345  0.961 -1.371 -0.227 -2.213  1.784 -0.507
16  0.112 -1.462  1.033  1.188  0.501 -0.284  0.111  0.491 -0.298 -1.131
17  0.189 -1.815 -1.506 -0.023 -0.464  0.279 -1.448 -3.163 -1.446 -1.083
18  0.188  0.698 -0.414 -0.166 -1.340 -0.041  0.728  0.462 -1.149  1.263
19 -1.233  0.523 -0.285 -0.423 -0.046  1.382 -1.385 -2.082  0.702  2.622

In [121]:
df = df.rank() # Compute numerical data ranks (1 through n) along axis. Equal values are assigned a rank that is the average of the ranks of those values

In [122]:
df

       0     1     2     3     4     5     6     7     8     9
0    1.0   2.0  11.0  13.0  15.0   5.0  13.0   4.0  17.0  18.0
1   15.0   5.0   4.0  16.0  11.0  14.0  14.0   7.0   5.0  11.0
2   20.0  14.0   6.0  15.0   1.0  13.0  20.0  13.0  20.0  15.0
3    3.0  10.0  19.0  19.0  19.0  10.0   7.0  16.0   2.0   7.0
4   14.0   7.0   2.0   4.0  18.0   9.0   9.0  20.0  12.0  10.0
5   18.0   9.0  13.0  14.0  16.0  16.0   2.0  11.0  16.0  13.0
6   16.0  11.0  17.0  12.0   4.0  20.0  17.0  17.0   7.0   5.0
7   13.0   8.0   5.0  17.0  20.0  17.0   4.0   8.0  15.0   8.0
8    4.0  18.0  16.0   7.0  10.0  18.0  10.0  18.0  18.0  16.0
9    8.0  19.0  14.0   5.0   7.0  11.0   8.0   9.0   6.0  19.0
10   6.0  20.0  15.0   2.0  13.0  15.0   1.0  10.0  10.0   3.0
11   7.0  15.0  12.0   3.0  12.0   4.0   6.0   6.0   9.0  14.0
12  19.0   6.0   9.0   8.0   2.0   2.0  11.0  19.0   1.0   4.0
13  17.0  17.0   3.0   1.0   5.0   6.0  18.0   5.0  11.0   9.0
14   5.0   3.0  20.0   6.0   8.0   1.0  15.0  12.0  13.0  12.0
15  10.0  16.0  10.0  20.0  17.0   3.0  12.0   2.0  19.0   6.0
16   9.0   4.0  18.0  18.0  14.0   7.0  16.0  15.0   8.0   1.0
17  12.0   1.0   1.0  11.0   6.0  12.0   3.0   1.0   3.0   2.0
18  11.0  13.0   7.0  10.0   3.0   8.0  19.0  14.0   4.0  17.0
19   2.0  12.0   8.0   9.0   9.0  19.0   5.0   3.0  14.0  20.0

In [124]:
df = df.sort_values(by=0)

In [125]:
df

       0     1     2     3     4     5     6     7     8     9
0    1.0   2.0  11.0  13.0  15.0   5.0  13.0   4.0  17.0  18.0
19   2.0  12.0   8.0   9.0   9.0  19.0   5.0   3.0  14.0  20.0
3    3.0  10.0  19.0  19.0  19.0  10.0   7.0  16.0   2.0   7.0
8    4.0  18.0  16.0   7.0  10.0  18.0  10.0  18.0  18.0  16.0
14   5.0   3.0  20.0   6.0   8.0   1.0  15.0  12.0  13.0  12.0
10   6.0  20.0  15.0   2.0  13.0  15.0   1.0  10.0  10.0   3.0
11   7.0  15.0  12.0   3.0  12.0   4.0   6.0   6.0   9.0  14.0
9    8.0  19.0  14.0   5.0   7.0  11.0   8.0   9.0   6.0  19.0
16   9.0   4.0  18.0  18.0  14.0   7.0  16.0  15.0   8.0   1.0
15  10.0  16.0  10.0  20.0  17.0   3.0  12.0   2.0  19.0   6.0
18  11.0  13.0   7.0  10.0   3.0   8.0  19.0  14.0   4.0  17.0
17  12.0   1.0   1.0  11.0   6.0  12.0   3.0   1.0   3.0   2.0
7   13.0   8.0   5.0  17.0  20.0  17.0   4.0   8.0  15.0   8.0
4   14.0   7.0   2.0   4.0  18.0   9.0   9.0  20.0  12.0  10.0
1   15.0   5.0   4.0  16.0  11.0  14.0  14.0   7.0   5.0  11.0
6   16.0  11.0  17.0  12.0   4.0  20.0  17.0  17.0   7.0   5.0
13  17.0  17.0   3.0   1.0   5.0   6.0  18.0   5.0  11.0   9.0
5   18.0   9.0  13.0  14.0  16.0  16.0   2.0  11.0  16.0  13.0
12  19.0   6.0   9.0   8.0   2.0   2.0  11.0  19.0   1.0   4.0
2   20.0  14.0   6.0  15.0   1.0  13.0  20.0  13.0  20.0  15.0

In [126]:
df = df.sort_values(by =[0,1])

In [127]:
df

       0     1     2     3     4     5     6     7     8     9
0    1.0   2.0  11.0  13.0  15.0   5.0  13.0   4.0  17.0  18.0
19   2.0  12.0   8.0   9.0   9.0  19.0   5.0   3.0  14.0  20.0
3    3.0  10.0  19.0  19.0  19.0  10.0   7.0  16.0   2.0   7.0
8    4.0  18.0  16.0   7.0  10.0  18.0  10.0  18.0  18.0  16.0
14   5.0   3.0  20.0   6.0   8.0   1.0  15.0  12.0  13.0  12.0
10   6.0  20.0  15.0   2.0  13.0  15.0   1.0  10.0  10.0   3.0
11   7.0  15.0  12.0   3.0  12.0   4.0   6.0   6.0   9.0  14.0
9    8.0  19.0  14.0   5.0   7.0  11.0   8.0   9.0   6.0  19.0
16   9.0   4.0  18.0  18.0  14.0   7.0  16.0  15.0   8.0   1.0
15  10.0  16.0  10.0  20.0  17.0   3.0  12.0   2.0  19.0   6.0
18  11.0  13.0   7.0  10.0   3.0   8.0  19.0  14.0   4.0  17.0
17  12.0   1.0   1.0  11.0   6.0  12.0   3.0   1.0   3.0   2.0
7   13.0   8.0   5.0  17.0  20.0  17.0   4.0   8.0  15.0   8.0
4   14.0   7.0   2.0   4.0  18.0   9.0   9.0  20.0  12.0  10.0
1   15.0   5.0   4.0  16.0  11.0  14.0  14.0   7.0   5.0  11.0
6   16.0  11.0  17.0  12.0   4.0  20.0  17.0  17.0   7.0   5.0
13  17.0  17.0   3.0   1.0   5.0   6.0  18.0   5.0  11.0   9.0
5   18.0   9.0  13.0  14.0  16.0  16.0   2.0  11.0  16.0  13.0
12  19.0   6.0   9.0   8.0   2.0   2.0  11.0  19.0   1.0   4.0
2   20.0  14.0   6.0  15.0   1.0  13.0  20.0  13.0  20.0  15.0

In [128]:
df = df.sort_index()
df

       0     1     2     3     4     5     6     7     8     9
0    1.0   2.0  11.0  13.0  15.0   5.0  13.0   4.0  17.0  18.0
1   15.0   5.0   4.0  16.0  11.0  14.0  14.0   7.0   5.0  11.0
2   20.0  14.0   6.0  15.0   1.0  13.0  20.0  13.0  20.0  15.0
3    3.0  10.0  19.0  19.0  19.0  10.0   7.0  16.0   2.0   7.0
4   14.0   7.0   2.0   4.0  18.0   9.0   9.0  20.0  12.0  10.0
5   18.0   9.0  13.0  14.0  16.0  16.0   2.0  11.0  16.0  13.0
6   16.0  11.0  17.0  12.0   4.0  20.0  17.0  17.0   7.0   5.0
7   13.0   8.0   5.0  17.0  20.0  17.0   4.0   8.0  15.0   8.0
8    4.0  18.0  16.0   7.0  10.0  18.0  10.0  18.0  18.0  16.0
9    8.0  19.0  14.0   5.0   7.0  11.0   8.0   9.0   6.0  19.0
10   6.0  20.0  15.0   2.0  13.0  15.0   1.0  10.0  10.0   3.0
11   7.0  15.0  12.0   3.0  12.0   4.0   6.0   6.0   9.0  14.0
12  19.0   6.0   9.0   8.0   2.0   2.0  11.0  19.0   1.0   4.0
13  17.0  17.0   3.0   1.0   5.0   6.0  18.0   5.0  11.0   9.0
14   5.0   3.0  20.0   6.0   8.0   1.0  15.0  12.0  13.0  12.0
15  10.0  16.0  10.0  20.0  17.0   3.0  12.0   2.0  19.0   6.0
16   9.0   4.0  18.0  18.0  14.0   7.0  16.0  15.0   8.0   1.0
17  12.0   1.0   1.0  11.0   6.0  12.0   3.0   1.0   3.0   2.0
18  11.0  13.0   7.0  10.0   3.0   8.0  19.0  14.0   4.0  17.0
19   2.0  12.0   8.0   9.0   9.0  19.0   5.0   3.0  14.0  20.0

In [129]:
df = df.astype(int)
df

     0   1   2   3   4   5   6   7   8   9
0    1   2  11  13  15   5  13   4  17  18
1   15   5   4  16  11  14  14   7   5  11
2   20  14   6  15   1  13  20  13  20  15
3    3  10  19  19  19  10   7  16   2   7
4   14   7   2   4  18   9   9  20  12  10
5   18   9  13  14  16  16   2  11  16  13
6   16  11  17  12   4  20  17  17   7   5
7   13   8   5  17  20  17   4   8  15   8
8    4  18  16   7  10  18  10  18  18  16
9    8  19  14   5   7  11   8   9   6  19
10   6  20  15   2  13  15   1  10  10   3
11   7  15  12   3  12   4   6   6   9  14
12  19   6   9   8   2   2  11  19   1   4
13  17  17   3   1   5   6  18   5  11   9
14   5   3  20   6   8   1  15  12  13  12
15  10  16  10  20  17   3  12   2  19   6
16   9   4  18  18  14   7  16  15   8   1
17  12   1   1  11   6  12   3   1   3   2
18  11  13   7  10   3   8  19  14   4  17
19   2  12   8   9   9  19   5   3  14  20

#### DataFrame Iteration methods

In [ ]:
df.iteritems() # (col-index, Series) pairs)
df.iterrows() #row index, Series) pairs

#### df.iteritems() # (col-index, Series) pairs)

In [130]:
for name, series in df.iteritems():
    print('\n Col name: ' + str(name))
    print('1st val: ' + str(series.iat[0]))

 Col name: 0
1st val: 1

 Col name: 1
1st val: 2

 Col name: 2
1st val: 11

 Col name: 3
1st val: 13

 Col name: 4
1st val: 15

 Col name: 5
1st val: 5

 Col name: 6
1st val: 13

 Col name: 7
1st val: 4

 Col name: 8
1st val: 17

 Col name: 9
1st val: 18

#### df.iterrows() #row index, Series) pairs

In [131]:
for name, series in df.iterrows():
    print("\n Row name: "+ str(name))
    print("\n 1 st val: " + str(series.iat[0]))

 Row name: 0

 1 st val: 1

 Row name: 1

 1 st val: 15

 Row name: 2

 1 st val: 20

 Row name: 3

 1 st val: 3

 Row name: 4

 1 st val: 14

 Row name: 5

 1 st val: 18

 Row name: 6

 1 st val: 16

 Row name: 7

 1 st val: 13

 Row name: 8

 1 st val: 4

 Row name: 9

 1 st val: 8

 Row name: 10

 1 st val: 6

 Row name: 11

 1 st val: 7

 Row name: 12

 1 st val: 19

 Row name: 13

 1 st val: 17

 Row name: 14

 1 st val: 5

 Row name: 15

 1 st val: 10

 Row name: 16

 1 st val: 9

 Row name: 17

 1 st val: 12

 Row name: 18

 1 st val: 11

 Row name: 19

 1 st val: 2